/* ---------- WRAPPER ---------- */
.info-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
  padding-top: 300px; /* pushes the whole box slightly down */
}


/* ---------- PURPLE CURVED INFOBOX ---------- */
.box {
  position: absolute;
  top:35%;
  right: 15%;
  width: 70%;
  min-height: 400px;
  max-height: 700px;
  background: linear-gradient(135deg, #3a0ca3, #7209b7);
  border-radius: 60px 200px 60px 200px / 200px 60px 200px 60px;
  padding: 100px;
  z-index: 5;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: start;
  justify-content: center;
  /* animation: fadeInUp 1.2s ease; */
  /* transform: translateY(45%);  */
}

/* ---------- TEXT ---------- */
.text {
  font-size: 10px;
  line-height: 1.8;
  color: #f7f3ff;
  text-align: center;
  max-width: 85%;
}

/* ---------- ANIMATION ---------- */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(40px);
  }
}
